.navbar {
  background-color: #cccccc;
  padding: 2rem 4rem; //because of the html stying in _base.js, the padding will be 20px on the top and bottom and 40px on the left and right.
  height: 8rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

  // This is a way to do .navbar__list class
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; //Remove bullets from list items
    height: 100%;
    padding: 0 4rem;

    @include respond(phone) {
      padding: 0;
    }

    // .navbar__list__item
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__link {
    color: #333;
    text-decoration: none; //Remove underline under clickable elements

    &:hover {
      color: #777;
    }
  }

  // .navbar__logo
  &__logo {
    font-size: 2.8rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }

  &__button {
    display: none;

    // Creating hamburger menu lines
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 65%;
      margin: 17.5% 0;
      width: 5rem;
      cursor: pointer;

      &:hover {
        height: 70%;
        margin: 15% 0;
      }

      &__component {
        display: none;

        @include respond(tab-port) {
          display: block;
          height: 0.3rem;
          width: 100%;
          background-color: #333;
        }
      }
    }
  }
}