$container-background: rgb(239, 223, 223);


// SASS that applies to everything
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Default is 16px. 62.5% gives us a default of 10px. Allows us to more conveniently use the rem unit. 1rem = 10px.
html {
  font-size: 62.5%;
}

// Setting exact dimension for elements easier. Box-sizing allows manipulation of width and heights of elements and padding/border/margin that wont mess with width and height of the element itself.
body {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.container {
  max-width: 100%;
  background-color: $container-background;
  // padding: 0 8rem;

  @include respond(phone) {
    padding: 0 2rem;
  }
}

.active {
  color: #777 !important; //!important makes sure that styling is applied to nav links. Overwrites everying else.

  @include respond(tab-port) {
    background-color: #888 !important;
    color: #333 !important;
  }
}